/***========================================
 **  Default fonts, etc.
 *==========================================*/
* {
  border: none;
  border-radius: 0px;
  font-family: FiraCode Nerd Font;
  font-size: 12px;
  font-style: normal;
  min-height: 0;
}

/***========================================
 **  Bar
 *==========================================*/
window#waybar {
  background: rgba(76,86,106,0.0);
  /* color: #cdd6f4 */
}

/***========================================
 **  Default look and feel
 *==========================================*/
/*
 Thanks to the cascading nature of CSS, I don't have to repeat the same
 settings over and over again. I'm doing a bulk setup for modules I care.
*/
#battery,
#bluetooth,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#memory,
#network,
#pulseaudio,
#taskbar,
#temperature,
#window,
#workspaces,
#custom-launcher,
#custom-notifications,
#custom-tailscale,
#custom-waybar-bottom,
#custom-waybar-left,
#custom-wf-recorder,
#custom-wallpaper {
  color: black;
  background-color: alpha(#ACB6CA, 0.5);

  border-radius: 5px;
  box-shadow: 0px 0px 0px 0px alpha(#9C566A, 0.7);

  /* By default, there will be no side margins. */
  margin-top: 7px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;

  padding-top: 2px; /*Slight adjustment for the vertical alignment */
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;

  transition:
    color               0.2s    linear,
    background-color    0.2s    linear,
    border-color        1.2s    ease-in;
}
/* GTK CSS doesn't support the nested CSS, so listing them all here. */
#battery:hover,
#bluetooth:hover,
#clock:hover,
#cpu:hover,
#disk:hover,
#idle_inhibitor:hover,
#memory:hover,
#network:hover,
#pulseaudio:hover,
#taskbar:hover,
#temperature:hover,
#window:hover,
#custom-launcher:hover,
#custom-notifications:hover,
#custom-tailscale:hover,
#custom-waybar-bottom:hover,
#custom-waybar-left:hover,
#custom-wf-recorder:hover,
#custom-wallpaper:hover {
  color: #ffffff;
  background-color: alpha(#2C364A, 0.9);
}

/***========================================
 **  Standard modules
 *==========================================*/

/***----------------------------------------
 **  Left hand side
 *------------------------------------------*/

/* TBC */

/***----------------------------------------
 **  Right hand side
 *------------------------------------------*/

#battery,
#bluetooth,
#cpu,
#disk,
#idle_inhibitor,
#memory,
#network,
#pulseaudio,
#temperature,
#custom-wallpaper,
#custom-tailscale,
#custom-waybar-bottom,
#custom-waybar-left,
#custom-wf-recorder {
  /* Because the margin will be added from all adjacent modules, I'm only adding
  on one side -- and in this case, only the right hand side. All the other
  margins will be handled by cascading. */
  margin-right: 3px;

  /* Subtle shadow with border */
  border-right: solid 1px alpha(#4C566A, 0.2);
  border-bottom: solid 1px alpha(#4C566A, 0.2);
  /* The additional left border makes the bottom border to render with
  consistent format given the right border has some width. */
  border-left: solid 1px transparent;
}

#battery.warning {
  border-bottom: solid 2px alpha(#ce7e06, 0.8);
}
#battery.critical {
  border-bottom: solid 2px alpha(#92062e, 0.8);
  animation: blink 1s linear infinite; /* Add animation */
}
@keyframes blink {
  0% {
    border-bottom-color: alpha(#92062e, 0.8); /* Fully visible at the start */
  }
  50% {
    border-bottom-color: transparent; /* Fully transparent in the middle */
  }
  100% {
    border-bottom-color: alpha(#92062e, 0.8); /* Back to fully visible at the end */
  }
}
#battery.charging {
  border-bottom: solid 2px alpha(#06922e, 0.8);
  /* background: */
  /*     linear-gradient(rgba(40, 40, 40, .7), rgba(40, 40, 40, .7)) padding-box, */
  /*     linear-gradient(90deg, alpha( #8ec07c, 0.3), alpha( #06922e, 0.8)) border-box; */
  /* background-clip: padding-box, border-box; */
  /* border-bottom: 2px solid transparent; */
}

#bluetooth.disabled {
  color: alpha(#6c7a89, 1);
  border-bottom: solid 2px alpha(#92062e, 0.8);
}

#clock {
  /* Add slightly different colour for the edge module. */
  color: white;
  background-color: alpha(#2C364A, 0.7);

  /* The most right component in the top bar, styled slightly differently.*/
  border-radius: 10px 0px 0px 10px;

  margin-left: 5px;

  padding-left: 20px;
  padding-right: 10px;

  /* Subtle shadow with border */
  /* border-right: solid 1px rgba(76,86,106,0.2); */
  border-bottom: solid 1px alpha(#4C566A, 0.2);
}

#cpu {
  /* Icon + numeric module could shift the format, so setting some width by
  default. */
  min-width: 36px;
}

#disk {
  /* Icon + numeric module could shift the format, so setting some width by
  default. */
  min-width: 36px;
}

#memory {
  /* Icon + numeric module could shift the format, so setting some width by
  default. */
  min-width: 36px;
}

#network.disconnected {
  border-bottom: solid 2px alpha(#92062e, 0.8);
}

#temperature {
  /* Icon + numeric module could shift the format, so setting some width by
  default. */
  min-width: 36px;
}
#temperature.critical {
  border-bottom: solid 2px alpha(#92062e, 0.8);
}

/***----------------------------------------
 **   Specific modules
 *------------------------------------------*/
/* For Niri */
#workspaces {
  /* Because the margin will be added from all adjacent modules, I'm only adding
  on one side -- and in this case, only the left hand side. All the other
  margins will be handled by cascading. */
  margin-left: 7px;

  padding-left: 10px;
  padding-right: 10px;

  border-radius: 5px 5px 5px 5px;
  /* box-shadow: 0px 0px 0px 0px alpha(#9C566A, 0.7); */

  /* Subtle shadow with border */
  border-right: solid 1px alpha(#4C566A, 0.2);
  border-bottom: solid 1px alpha(#4C566A, 0.2);
  /* The additional left border makes the bottom border to render with
  consistent format given the right border has some width. */
  border-left: solid 1px transparent;
}
#workspaces button {
  color: black;

  margin-bottom: 1px;

  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;

  border-radius: 4px;

  background-color: transparent;
}
#workspaces button:hover {
  color: white;
  background-color: alpha(#2C364A, 0.7);
}
#workspaces button.active {
  color: alpha(#F9B44D, 1);
}

#window {
  background-color: alpha(#ACB6CA, 0.5);

  margin-left: 7px;

  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 7px;
  padding-right: 7px;

  /* Subtle shadow with border */
  border-right: solid 1px alpha(#4C566A, 0.2);
  border-bottom: solid 1px alpha(#4C566A, 0.2);
  /* The additional left border makes the bottom border to render with
  consistent format given the right border has some width. */
  border-left: solid 1px transparent;
}
/* Debugging, the image tag isn't rendered when no image found. */
/* #window > image { border: red solid 2px; } */


/***----------------------------------------
 **  Custom modules
 *------------------------------------------*/
#custom-launcher {
  /* Add slightly different colour for the edge module. */
  color: white;
  background-color: alpha(#2C364A, 0.7);

  /* The most left component in the top bar, styled slightly differently.*/
  font-size: 12px;
  border-radius: 0px 10px 10px 0px;

  margin-right: 5px;

  padding-left: 10px;
  padding-right: 20px;

  /* Subtle shadow with border */
  border-right: solid 2px alpha(#4C566A, 0.2);
  border-bottom: solid 2px alpha(#4C566A, 0.2);
}
#custom-launcher:hover {
  color: #ffffff;
  background-color: alpha(#4C566A, 0.8);
}

#custom-notifications {
  /* Add slightly different colour for the edge module. */
  /* This module also aims to be minimal and combined with another. */
  color: white;
  background-color: alpha(#2C364A, 0.7);

  /* The most left component in the top bar, styled slightly differently.*/
  font-size: 12px;
  border-radius: 0px;

  /* margin-right: 5px; */

  padding-left: 10px;
  padding-right: 10px;

  /* Subtle shadow with border */
  /* border-right: solid 1px rgba(76,86,106,0.2); */
  border-bottom: solid 1px alpha(#4C566A, 0.2);
}
#custom-notifications:hover {
  color: #ffffff;
  background-color: alpha(#4C566A, 0.8);
}

#custom-tailscale.disconnected {
  border-bottom: solid 2px alpha(#92062e, 0.8);
}
#custom-tailscale.unknown {
  /* animation: spin 2s ease normal infinite; */
  border-bottom: solid 2px alpha(#F9B44D, 0.8);
}
#custom-wf-recorder.running {
  border-bottom: solid 2px alpha(#92062e, 0.8);
}
#custom-wf-recorder.unknown {
  /* animation: spin 2s ease normal infinite; */
  border-bottom: solid 2px alpha(#F9B44D, 0.8);
}

/***----------------------------------------
 **  Groups
 *------------------------------------------*/
#custom-group-head {
  /* Add slightly different colour for group module. */
  color: white;
  background-color: alpha(#2C364A, 0.7);

  border-radius: 5px;

  box-shadow: 0px 0px 0px 0px alpha(#9C566A, 0.7);

  /* By default, there will be no side margins. */
  margin-top: 7px;
  margin-bottom: 0px;
  margin-left: 0px;
  /* margin-right: 0px; */

  padding-top: 2px; /*Slight adjustment for the vertical alignment */
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;

  /* Because the margin will be added from all adjacent modules, I'm only adding
  on one side -- and in this case, only the right hand side. All the other
  margins will be handled by cascading. */
  margin-right: 3px;

  /* Subtle shadow with border */
  border-right: solid 1px alpha(#4C566A, 0.2);
  border-bottom: solid 1px alpha(#4C566A, 0.2);

  transition:
    color               0.2s    linear,
    background-color    0.2s    linear,
    border-color        1.2s    ease-in;
}
/* GTK CSS doesn't support the nested CSS, so listing them all here. */
#custom-group-head:hover {
  color: #ffffff;
  background-color: alpha(#2C364A, 0.9);
}
