/***----------------------------------------
 **  Default fonts, etc.
 *------------------------------------------*/
* {
  border: none;
  border-radius: 0px;
  font-family: FiraCode Nerd Font;
  font-size: 12px;
  font-style: normal;
  min-height: 0;
}

/***----------------------------------------
 **  Bar
 *------------------------------------------*/
window#waybar {
  background: rgba(76,86,106,0.0);
  /* color: #cdd6f4 */
}

/***----------------------------------------
 **  Default look and feel
 *------------------------------------------*/
/*
 Thanks to the cascading nature of CSS, I don't have to repeat the same
 settings over and over again. I'm doing a bulk setup for modules I care.
*/
#battery,
#bluetooth,
#clock,
#cpu,
#disk,
#memory,
#network,
#pulseaudio,
#taskbar,
#temperature,
#window,
#workspaces,
#custom-wlogout,
#custom-launcher,
#custom-wallpaper {
  color: white;
  /* background-color: rgba(76,86,106,0.3); */
  background-color: alpha(#4C566A, 0.7);

  border-radius: 5px;
  box-shadow: 0px 0px 0px 0px alpha(#9C566A, 0.7);

  /* By default, there will be no side margins. */
  margin-top: 7px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;

  padding-top: 2px; /*Slight adjustment for the vertical alignment */
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;

  transition:
    background-color    .2s     linear,
    border-color        1.2s    ease-in;
}
/* GTK CSS doesn't support the nested CSS, so listing them all here. */
#battery:hover,
#bluetooth:hover,
#clock:hover,
#cpu:hover,
#disk:hover,
#memory:hover,
#network:hover,
#pulseaudio:hover,
#taskbar:hover,
#temperature:hover,
#window:hover,
#workspaces:hover,
#custom-launcher:hover,
#custom-wallpaper:hover {
  color: #ffffff;
  background-color: alpha(#9CA6BA, 0.9);
}

/***----------------------------------------
 **  Standard modules
 *------------------------------------------*/
#battery {
  /* Because the margin will be added from all adjacent modules, I'm only adding
  on one side -- and in this case, only the right hand side. All the other
  margins will be handled by cascading. */
  margin-right: 3px;

  /* Subtle shadow with border */
  border-right: solid 1px alpha(#4C566A, 0.2);
  border-bottom: solid 1px alpha(#4C566A, 0.2);
  /* The additional left border makes the bottom border to render with
  consistent format given the right border has some width. */
  border-left: solid 1px transparent;
}
#battery.warning {
  border-bottom: solid 2px alpha(#ce7e06, 0.8);
}
#battery.critical {
  border-bottom: solid 2px alpha(#92062e, 0.8);
}
#battery.charging {
  border-bottom: solid 2px alpha(#06922e, 0.8);
}

#bluetooth {
  /* Because the margin will be added from all adjacent modules, I'm only adding
  on one side -- and in this case, only the right hand side. All the other
  margins will be handled by cascading. */
  margin-right: 3px;

  /* Subtle shadow with border */
  border-right: solid 1px alpha(#4C566A, 0.2);
  border-bottom: solid 1px alpha(#4C566A, 0.2);
  /* The additional left border makes the bottom border to render with
  consistent format given the right border has some width. */
  border-left: solid 1px transparent;
}
#bluetooth.disabled {
  color: alpha(#6c7a89, 1);
  border-bottom: solid 2px alpha(#92062e, 0.8);
}

#clock {
  /* Clock is stylised differently as it appears at the top right. */
  border-radius: 5px 0px 0px 5px;
  padding-left: 10px;
  padding-right: 10px;

  /* Subtle shadow with border */
  /* border-right: solid 1px rgba(76,86,106,0.2); */
  border-bottom: solid 1px alpha(#4C566A, 0.2);
}

#pulseaudio {
  /* Because the margin will be added from all adjacent modules, I'm only adding
  on one side -- and in this case, only the right hand side. All the other
  margins will be handled by cascading. */
  margin-right: 3px;

  /* Subtle shadow with border */
  border-right: solid 1px alpha(#4C566A, 0.2);
  border-bottom: solid 1px alpha(#4C566A, 0.2);
  /* The additional left border makes the bottom border to render with
  consistent format given the right border has some width. */
  border-left: solid 1px transparent;
}

#cpu {
  /* Icon + numeric module could shift the format, so setting some width by
  default. */
  min-width: 36px;

  /* Because the margin will be added from all adjacent modules, I'm only adding
  on one side -- and in this case, only the right hand side. All the other
  margins will be handled by cascading. */
  margin-right: 3px;

  /* Subtle shadow with border */
  border-right: solid 1px alpha(#4C566A, 0.2);
  border-bottom: solid 1px alpha(#4C566A, 0.2);
}

#disk {
  /* Icon + numeric module could shift the format, so setting some width by
  default. */
  min-width: 36px;

  /* Because the margin will be added from all adjacent modules, I'm only adding
  on one side -- and in this case, only the right hand side. All the other
  margins will be handled by cascading. */
  margin-right: 3px;

  /* Subtle shadow with border */
  border-right: solid 1px alpha(#4C566A, 0.2);
  border-bottom: solid 1px alpha(#4C566A, 0.2);
}

#memory {
  /* Icon + numeric module could shift the format, so setting some width by
  default. */
  min-width: 36px;

  /* Because the margin will be added from all adjacent modules, I'm only adding
  on one side -- and in this case, only the right hand side. All the other
  margins will be handled by cascading. */
  margin-right: 3px;

  /* Subtle shadow with border */
  border-right: solid 1px alpha(#4C566A, 0.2);
  border-bottom: solid 1px alpha(#4C566A, 0.2);
}

#network {
  /* Because the margin will be added from all adjacent modules, I'm only adding
  on one side -- and in this case, only the right hand side. All the other
  margins will be handled by cascading. */
  margin-right: 3px;

  /* Subtle shadow with border */
  border-right: solid 1px alpha(#4C566A, 0.2);
  border-bottom: solid 1px alpha(#4C566A, 0.2);
}

#temperature {
  /* Icon + numeric module could shift the format, so setting some width by
  default. */
  min-width: 36px;

  /* Because the margin will be added from all adjacent modules, I'm only adding
  on one side -- and in this case, only the right hand side. All the other
  margins will be handled by cascading. */
  margin-right: 3px;

  /* Subtle shadow with border */
  border-right: solid 1px alpha(#4C566A, 0.2);
  border-bottom: solid 1px alpha(#4C566A, 0.2);
  /* The additional left border makes the bottom border to render with
  consistent format given the right border has some width. */
  border-left: solid 1px transparent;
}
#temperature.critical {
  border-bottom: solid 2px alpha(#92062e, 0.8);
}

/* Below modules currently not used */
#window {
    background: #2e3440;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    /*border-left: solid 1px #282738;*/
    /*border-right: solid 1px #282738;*/
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: normal;
}

#taskbar {
    background-color: #2BD2FF;
    background-image: linear-gradient(45deg, #b48ead 0%, #5e81ac 52%, #b48ead 90%);
    border-radius: 8px;
}
#taskbar button {
    border-radius: 2px 2px 2px 2px;
    padding: 0 0 0 1px;
    margin: 4px 4px;
    color: #ffffff;
    background-color: rgba(120,118,117,0.1);
}
#taskbar button.active {
    background-color: rgba(108, 122, 137, 1);
}

/* For Niri Workspaces */
#workspaces {
    padding: 0;
    color: #ffffff;
    border-radius: 99px;
    background:
        linear-gradient(rgba(40, 40, 40, 1), rgba(40, 40, 40, 1)) padding-box,
        linear-gradient(90deg, #8ec07c, #d5c4a1) border-box;
    background-clip: padding-box, border-box;
    border: 3px solid transparent;
}
#workspaces button {
    margin-right: 4px;
    background: none;
    border: none;
    background-color: transparent; /* Make hover background fully transparent */
    padding: 2px 4px;
    color: #f0f0f0;
}
#workspaces button:hover {
  background-color: transparent;
  box-shadow: none;
  border: none;
  color: #8ec07c;
  border-color: #8ec07c;
}


/***----------------------------------------
 **  Custom modules
 *------------------------------------------*/
#custom-launcher {
  font-size: 12px;
  border-radius: 0px 10px 10px 0px;

  padding-right: 20px;
  padding-left: 10px;

  /* Subtle shadow with border */
  border-right: solid 2px alpha(#4C566A, 0.2);
  border-bottom: solid 2px alpha(#4C566A, 0.2);
}
#custom-launcher:hover {
  color: #ffffff;
  background-color: alpha(#4C566A, 0.8);
}

#custom-wallpaper {
  /* Because the margin will be added from all adjacent modules, I'm only adding
  on one side -- and in this case, only the right hand side. All the other
  margins will be handled by cascading. */
  margin-right: 3px;

  /* Subtle shadow with border */
  border-right: solid 1px alpha(#4C566A, 0.2);
  border-bottom: solid 1px alpha(#4C566A, 0.2);
}
