[SddmGreeterTheme]
Name=Taketomi Theme
Description=SDDM theme with Taketomi background
Author=rytswd
License=MIT
Type=sddm-theme
Version=1.0
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=taketomi-theme
QtVersion=6
