// Because the code requires a lot of duplicated selector, I'm using SCSS to
// streamline the definition. Even with SCSS, there is some extreme nesting
// necessary to make it work, though.
//
// Also, because the LSP won't understand the GTK specific functions, I'm using
// SCSS variables instead.

// Referenecs:
// https://github.com/ErikReider/SwayNotificationCenter/blob/c5067e6557af3266ade2e23969e101cbccd04671/man/swaync.5.scd?plain=1#L233
// https://github.com/ErikReider/SwayNotificationCenter/blob/c5067e6557af3266ade2e23969e101cbccd04671/data/style/style.scss
// https://github.com/TobiWan54/dotfiles/blob/d80f9bcac56e7bad4fbad36cc55dcb858bfe0fa5/.config/swaync/style.css
// https://github.com/ErikReider/SwayNotificationCenter/discussions/183?sort=new

$text: #000000;
$bg-100: rgba(#2C364A, 0.5);
$bg-200: rgba(#2C364A, 0.7);
$bg-500: rgba(#2C364A, 0.9);
$bg-variant-200: rgba(#ACB6CA, 0.2);
$bg-variant-500: rgba(#ACB6CA, 0.5);
$bg-variant-800: rgba(#ACB6CA, 0.8);
$critical: rgba(#92062e, 0.8);

* {
  border: none;
  border-radius: 0px;
  font-family: FiraCode Nerd Font;
  // font-family: DejaVu Sans;
  font-size: 12px;
  font-style: normal;
  min-height: 0;
}

////----------------------------------------
///   General Contents
//------------------------------------------
.notification-content {
  background: transparent;

  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;

  border-radius: 10px;
}

.summary {
  font-size: 14px;
  font-weight: normal;
}
.time {
  font-size: 10px;
  font-weight: lighter;
}
.body {
  font-size: 12px;
  color: #ACB6CA;
}
////----------------------------------------
///   Popup
//------------------------------------------
// Because the classes are reused between the simple notification popup as well
// as in the control centre, I need to set them up separately. Because of the
// CSS specificity, the order of how the definitions appear should not matter.
.notification-row {
  // This background will be visible for a short while the notification closes
  // with transition.
  background: $bg-200;

  margin-top: 7px;
  margin-bottom: 3px;
  margin-left: 0;
  margin-right: 10px;

  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;

  border-radius: 7px;

  &:hover, &:focus {
    background: $bg-500;
  }

  .image {
    /* Notification app icon (only visible when the primary image is set) */
    // -gtk-icon-effect: none;
    // -gtk-icon-shadow: 0 1px 4px black;
    margin: 10px 10px 10px 0px;
  }

  .notification-background {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    // border: 1px lightgoldenrodyellow solid;
    border-radius: 7px;

    transition: background 0.15s ease-in-out;

    .notification {
      // border: 1px lime solid;
      border-radius: 5px;
      .low {}
      .normal {}
      .critical {
        border-bottom: solid 2px $critical;
      }

      .notification-default-action {
        // border: 3px rebeccapurple solid;
        border-radius: 5px;
      }
      .notification-action {
        // border: 3px deeppink solid;
        border-radius: 5px;
      }

      .time {
        margin: 0px;
      }
    }

    // Because of the time component set with 0 margin, this gets displayed on
    // top of the time.
    .close-button {
      color: $text;
      text-shadow: none;
      padding: 0;
      border-radius: 100%;
      margin-top: 5px;
      margin-left: 10px;
      margin-right: 5px;
      box-shadow: none;
      border: none;
      min-width: 24px;
      min-height: 24px;
      // transition: background 0.15s ease-in-out;
    }
  }
}

////----------------------------------------
///   Control Center
//------------------------------------------
.control-center {
  border-left: 1px $bg-variant-500 solid;
  border-top: 1px $bg-variant-500 solid;
  border-bottom: 1px $bg-variant-500 solid;
  border-radius: 10px 0 0 10px;
  box-shadow:
    1px 0px 2px 1px rgba(#333333, 0.3),
    8px 1px 2px 1px rgba(#333333, 0.3),
    1px 1px 3px 2px rgba(#333333, 0.3);

  .notification-row {
    background: transparent;

    // Adjust only the parts that need to be tweaked.
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 0px;
    padding-right: 0px;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    &:hover, &:focus {
      border-radius: 7px;
      background: $bg-500;
    }

    .notification-background {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 2px;
      padding-right: 2px;

      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;

      // border: 1px lightgoldenrodyellow solid;
      border-radius: 7px;

      transition: background 0.15s ease-in-out;

      .notification {
        // border: transparent;
        border: 1px $bg-variant-200 solid;
        box-shadow: 1px 1px 1px $bg-200;
        border-radius: 5px;
        .low {}
        .normal {}
        .critical {
          border-bottom: solid 2px $critical;
        }

        .notification-default-action {
          // border: 3px rebeccapurple solid;
          border-radius: 5px;
        }
        .notification-action {
          // border: 3px deeppink solid;
          border-radius: 5px;
        }
      }

      // Per notification close button
      .close-button {
        color: $text;
        text-shadow: none;
        padding: 0;
        border-radius: 100%;
        margin-top: 2px;
        margin-left: 6px;
        margin-right: 5px;
        box-shadow: none;
        border: none;
        min-width: 12px;
        min-height: 12px;
      }
    }
  }
}

/* Window behind control center and on all other monitors. */
.blank-window {
  background: transparent;
}
/* Window behind notification popups. */
.floating-notifications {
  background: transparent;
}

.floating-notifications .notification {
  box-shadow: none;
}


////----------------------------------------
///    Widget Related
//------------------------------------------
.widget-dnd {
  background: transparent;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 10px;
  margin-right: 5px;
  border-radius: 5px;

  & > label {
    font-family: DejaVu Sans;
    font-size: 1.25rem;
  }

  & > switch {
    font-size: 0.75rem;
    border-radius: 5px;
    background: transparent;
    border: 1px solid $bg-variant-500;

    & slider {
      border-radius: 4px;
    }

    &:checked {
      background: green;
      & slider {
        background: greenyellow;
      }
    }
  }
}

.widget-mpris  {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 26px;
  margin-right: 5px;
  background-color: transparent;
  border-radius: 12px;
  // box-shadow: 30px 3px 10px rgba(0, 0, 0, 0.35);

  .widget-mpris-player {
    border-radius: 12px;
  }
}

// This looks pretty bad but it's better than nothing...
.widget-volume {
  background: transparent;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 26px;
  margin-right: 5px;
  border-radius: 5px;

  & > box {
    & slider {
      background: white;
      border-radius: 4px;
      border: 2px $bg-variant-200 solid;

      padding-top: 2px;
      padding-bottom: 2px;
      padding-left: 0px;
      padding-right: 0px;

      margin-top: 0px;
      margin-bottom: 0px;

      &:hover, &:focus {
        border-color: white;
      }
    }
    & > button {
      font-size: 0.75rem;
      border-radius: 5px;
      background: transparent;
      border: 1px solid $bg-variant-500;

      &:hover, &:focus {
        background: $bg-500;
      }
    }
  }
}

// not working
.per-app-volume {
    background-color: blue;
    padding: 4px 8px 8px;
    margin: 0 8px 8px;
    border-radius: 10px;
}

.widget-title {
  background: transparent;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 10px;
  margin-right: 5px;
  border-radius: 5px;

  & > label {
    font-family: DejaVu Sans;
    font-size: 1.75rem;
  }

  & > button {
    font-size: 0.75rem;
    border-radius: 5px;
    background: transparent;
    border: 1px solid $bg-variant-500;

    &:hover, &:focus {
      background: $bg-500;
    }
  }
}
